
body {
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	line-height: 1.4;
	margin: auto;
	margin-top: auto;
	width: 70vw;
	margin-top: 10vh;
	background-color: rgb(15, 15, 15);
  color: rgba(253, 253, 253, 0.87);
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Lato', sans-serif;
}

a {
	text-decoration: none;
}

.flex {
	display: flex;
	flex-wrap: wrap;
}

.box {
	flex: 30vw;
	padding-right: 75px;
	text-align: justify;
}
